<div *ngIf="showLogin" class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2>Login</h2>
        </div>
        <div class="card-body">
          <form (ngSubmit)="login(loginForm)" #loginForm="ngForm">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="email" id="username" name="username" ngModel class="form-control" required>
            </div>
            <br>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" ngModel class="form-control" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="passwordAlert">
    <p>
      <ngb-alert type="danger">Warning. Username or password invalid</ngb-alert>
    </p>
  </div>
</div>
